#logo img {width: auto;
height: 48px;}
#newStyle-laptop > div {min-height:470px; background-color: grey; border: 1px dashed black;}
#newStyle-thumbs > div {min-height:280px; background-color: green; border: 1px dashed black;}
#footer-row {background-color: #424242; min-height: 320px;}
#gutter {background-color: #202020; min-height: 115px;}
