h2 {
  font-size: 47px;
}
p {
  line-height: 250%;
  font-size: 22px;
}
.carousel-inner {
  height: 700px;
}
.carousel-caption {
  top: 10%;
  bottom: auto;
}
.btn-secondary {
  margin-top: 20px;
  border-color: white;
  color: white;
}
.btn-secondary:hover {
  border-color: white;
  background-color: white;
  color: black;
}
.btn-default {
  background-color: #91c85f;
  border-color: #91c85f;
  color: white;
}
.btn-default:hover {
  background-color: #638a14;
  border-color: #638a14;
  color: white;
}
